<style>
.theme-toggle { cursor: pointer; }
</style>
<header class="p-2 bg-secondary d-flex justify-content-between">
    <h1 class="h5 m-0"><a href="/" class="text-light">EndoFlix - Video Player</a> <span id="stats"></span></h1>
    <div>
        <i class="bi bi-lightbulb theme-toggle me-2" id="themeToggle"></i>
        <a href="/keymaps" class="text-light me-2">Keymaps</a>
        <a href="/about" class="text-light me-2">Sobre</a>
        <a href="/ultra" class="text-light me-2">Ultra Mode</a>
        <a href="{{ url_for('auth.logout') }}" class="text-light">
            <i class="bi bi-box-arrow-right"></i> Logout
        </a>
    </div>
</header>